**/!Art/
**/obj/
**/bin/
**/Logs/
**/Library/
**/Temp/
**/*.suo
**/ipch/
**/lfs/
**/hooks/
ProjectSettings/ProjectVersion.txt
**/UserSettings/
*.sdf
*~
*.opensdf
*.user
*.aps
*.csproj
*.vsconfig
*.unityproj
*.sln
*.mp4
PLAN.md
PLAN.md.meta
.vs
tags

*.apk
*.aab
